<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= 'ADMIN'           if current_user.admin     %>

<% if current_user %>
<p>Name:    <%= current_user.name    %></p>
<p>Mood:    <%= current_user.mood    %></p>
<p>Tickets: <%= current_user.tickets %></p>
<p>Height:  <%= current_user.height  %></p>
<% end %>
