<p id="notice"><%= notice %></p>

<h1>Listing Attractions</h1>


  <ul>
    <% @attractions.each do |attraction| %>
      
        <% if current_user.admin %>
        <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></li>
        <% else %>
        <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
        <% end %>
        <li><%= link_to 'Edit', edit_attraction_path(attraction) %></li>
        <li><%= link_to 'Destroy', attraction, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      
    <% end %>
  </ul>

<br>

<%= link_to 'New Attraction', new_attraction_path %>
